<div class="container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">Welcome back!</h3>
                            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

                            <div class="form-label-group">
                                <%= f.email_field :email, placeholder: "Email",autofocus: true, autocomplete: "email", id: "inputEmail", class: "form-control", required: true %>

                                <label for="inputEmail">Email address</label>
                            </div>

                            <div class="form-label-group">
                                <%= f.password_field :password, placeholder: "password", autocomplete: "current-password", id: "inputPassword", class: "form-control", required: true %>
                                <label for="inputPassword">Password</label>
                            </div>


                            <% if devise_mapping.rememberable? %>

                            <div class="custom-control custom-checkbox mb-3">
                                <%= f.check_box :remember_me, class: "custom-control-input", id: "customCheck1" %>
                                <%= f.label :remember_me, class: "custom-control-label" %>
                            </div>
                            <% end %>


                            <%= f.submit "Log in",  class: "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" %>
                            <%#= render "devise/shared/links" %>
                            <div class="text-center">
                                <%= link_to "Sign up", new_registration_path(resource_name) %><br />
                                <a class="small" href="#">Forgot password?</a></div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>