<!DOCTYPE html>
<html>
  <head>
    <title>Talabat say hello to dev branch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="body">
    <% if user_signed_in?  %>
  <div class="header">
  <div class="header-right">
    <%= link_to "Home", new_friend_path %>
    <%= link_to "Friends", friends_path %>
    <%= link_to "Groups", new_friend_path %>
    <%= link_to "Orders", new_friend_path %>

  </div>
      <div class="header-left">
        <%= link_to "notification", new_friend_path %>
        <%= link_to "image", new_friend_path %>
        <%= link_to "Name", new_friend_path %>
        <%=  link_to_if user_signed_in?, "Logout", destroy_user_session_path,
                        method: :delete %>

      </div>
    </div>

    <%end %>
    <div class="content">
    <%= yield %>
    </div>
  </div>
  </body>
</html>
